```
# Database
*.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.ENV.local
.env
.env.local
.env.*
.python-version
pip-log.txt
pip-delete-this-directory.txt

# Testing
.coverage
coverage/
htmlcov/
.nox/
.pytest_cache/
.tox/

# IDE
.vscode/
.idea/
*.swp
*.swo
*.tmp

# Logs
*.log

# OS
.DS_Store
Thumbs.db
```